<div>
    <div class="row" *ngIf="statistiques.emploiyes">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>{{ statistiques.patients}}</h3>

                    <p>Patients</p>
                </div>
                <div class="icon">
                    <i class="fas fa-hospital-user"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{ statistiques.revenus}}<sup style="font-size: 20px">MAD</sup></h3>

                        <p>Revenus</p>
                    </div>
                <div class="icon">
                    <i class="ion fas fa-money-bill"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>{{ statistiques.emploiyes}}</h3>

                    <p>Emploiyes</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-nurse"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>{{ statistiques.analyses}}</h3>

                    <p>Analyses</p>
                </div>
                <div class="icon">
                    <i class="fas fa-solid fa-flask"></i>
                </div>

            </div>
        </div>
        <!-- ./col -->
    </div>


    <div>

        <!-- BAR CHART -->
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Diagramme à barres</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="chart">
                    <div id="chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>


</div>