<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Ajouter un employee</h3>
    </div>
    <div *ngIf="isLoading" class="overlay">
        <i class="fas fa-2x fa-sync-alt rotating-icon"></i>
    </div>
    <div class="card-body">


        <form>
            <div class="card-body">
                <a style="margin-bottom: 15px"   [routerLink]="'/employees'">Retour à la liste</a> <div style="height: 10px">

            </div>

                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter le name de l'employee" [(ngModel)]="emp.name" [ngClass]="{ 'is-invalid': errors?.name }">
                    <span  *ngIf="errors?.name" class="error invalid-feedback">{{ errors.name[0] }}</span>

                </div>

                <div class="form-group">
                    <label>E-mail</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter E-mail de l'employee" [(ngModel)]="emp.email" [ngClass]="{ 'is-invalid': errors?.email }">
                    <span  *ngIf="errors?.email" class="error invalid-feedback">{{ errors.email[0] }}</span>

                </div>

                <div class="form-group">
                    <label>Date Naissance</label>
                    <input type="date" class="form-control" name="birth_date" placeholder="Entre la date de patient" [(ngModel)]="emp.birth_date" [ngClass]="{ 'is-invalid': errors?.birth_date }">
                    <span  *ngIf="errors?.birth_date" class="error invalid-feedback">{{ errors.birth_date[0] }}</span>

                </div>



                <div class="form-group">
                    <label>Téléphone</label>
                    <input type="text" class="form-control" name="phone" placeholder="Téléphone" [(ngModel)]="emp.phone" [ngClass]="{ 'is-invalid': errors?.phone }">
                    <span  *ngIf="errors?.phone" class="error invalid-feedback">{{ errors.phone[0] }}</span>

                </div>
                <div class="form-group">
                    <label>Mot de passe </label>
                    <input type="password" class="form-control" name="password " placeholder="Entre un mot de passe " [(ngModel)]="emp.password " [ngClass]="{ 'is-invalid': errors?.password  }">
                    <span  *ngIf="errors?.password " class="error invalid-feedback">{{ errors.password[0] }}</span>

                </div>

             <div class="form-group">
                    <label>Confirmer le mot de passe</label>
                    <input type="password" class="form-control" name="password_confirmation " placeholder="Confirmer le mot de passe" [(ngModel)]="emp.password_confirmation " [ngClass]="{ 'is-invalid': errors?.password_confirmation  }">
                    <span  *ngIf="errors?.password_confirmation " class="error invalid-feedback">{{ errors.password_confirmation[0] }}</span>

              </div>

                <div >
                    <div style="display: inline; margin: 4px;" class="form-check">
                        <input type="radio" name="sexe" class="form-check-input" id="male" [(ngModel)]="emp.sexe" value="MALE">
                        <label class="form-check-label"   for="male">Masculin</label>
                    </div>

                    <div style="display: inline; margin: 4px;" class="form-check">
                        <input type="radio" name="sexe" class="form-check-input" id="female" [(ngModel)]="emp.sexe" value="FEMALE">
                        <label class="form-check-label" for="female">Féminin</label>
                    </div>


                </div>
            </div>

            <div class="card-footer">
                <button type="button" (click)="clickSendData()" class="btn btn-primary">Ajouter</button>
            </div>
        </form>
    </div>
</div>
