<div >

<div class="row">

  <div class="col-8">

    <img src="../../../assets/img01.jpg" height="643" width="986"/>

  </div>

  <div class="col-4">


    <div class="hold-transition login-page">
    <div class="login-box">
      <!-- /.login-logo -->

      <div class="card card-outline card-primary">
       <!--<div class="card-header text-center">

          <a href="../../index2.html" class=>Lab.Com</a>-->

        <img src="../../../assets/lab.png" class="mx-auto" style="width: 150px;"/>
      </div>
        <div class="card-body">
          <p class="login-box-msg" class="h3">Connectez-vous</p>

          <form   [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <!-- Errors -->
            <div *ngIf="errors?.email" class="alert alert-danger mt-3">
              {{ errors?.email }}
            </div>
            <div *ngIf="errors?.password" class="alert alert-danger mt-3">
              {{ errors?.password }}
            </div>
            <div *ngIf="errors?.error" class="alert alert-danger mt-3">
              {{ errors?.error }}
            </div>


            <div class="input-group mb-3">
              <input type="email" formControlName="email" class="form-control" placeholder="E-mail">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" formControlName="password" class="form-control" placeholder="Mot de passe">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">

              <!-- /.col -->
              <div class="col" >
                <button type="submit" class="btn btn-primary btn-block" >Connexion</button>
              </div>
              <!-- /.col -->
            </div>
          </form>

          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>

    </div>

    <!-- /.login-box -->
  </div>
  </div>
</div>

